{{ define "main" }}

{{ .Content }}

{{ if (.Params.HeaderImage) }}
<img src="{{ .Params.HeaderImage }}" class="header-image"/>
{{ else if ($.Site.Params.HeaderImage) }}
<img src="{{ $.Site.Params.HeaderImage }}" class="header-image"/>
{{ end }}
<br>
Enginerd<br>
<a href="./maybe/" style="color: inherit">writing</a> |
<!-- meh <a href="./blog/" style="color: inherit">leetcode</a> |-->
<a style="color:inherit" disabled>photos</a> |
<a href="./drawings/" style="color:inherit">drawings</a> |
<a href="https://github.com/MrMinos" rel="nofollow" style="color:inherit">github</a> |
<!-- someday.. <a style="color:inherit" disabled>reviews</a>-->
<a href="cs184/" rel="nofollow" style="color:inherit">cs184</a> |
<a href="./ocf/" style="color:inherit">ocf</a> |
<a href="./sunset/" style="color:inherit">sunset</a> 
{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{ range $pages }}


{{ end }}

{{ end }}
